#gameLogsTab {
  display: flex;
  justify-content: space-evenly;
}
.gameLogsSpacer {
  flex-grow: 1;
}
#gameLogsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em;
  flex-grow: 1.5;
  text-align: center;
}
th {
  text-align: center !important;
}
//table {
//  width: 50%;
//}
//mat-form-field {
//  width: 50%
//}
//mat-paginator {
//  width:50%
//}
