
<div class="stats-container">
  <div class="spacer">Left</div>
  <div class="masonry-item">
    <mat-card>
      <mat-card-title>Games Played</mat-card-title>
      <mat-divider inset></mat-divider>
      <mat-card-content>
        <mat-card-content>Total: 13</mat-card-content>
        <mat-card-content>Average Per Week: 3.5</mat-card-content>
        <mat-card-content>Average Per Month: 13.2</mat-card-content>
        <mat-card-content>Average Per Year: 200.4</mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="masonry-item">
    <mat-card class="example-card">
      <mat-card-title>Streaks</mat-card-title>
      <mat-divider inset></mat-divider>
      <mat-card-content>
        <mat-card-content> Longest Winning Streak: 3 by Trent/Adam</mat-card-content>
        <mat-card-content> Current Winning Streak: 1 by Trent/Adam</mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="masonry-item">
    <mat-card class="example-card">
      <mat-card-title>Average Goals Per Game</mat-card-title>
      <mat-divider inset></mat-divider>
        <mat-card-content>
          <i class="ibc noto-1st-place-medal"></i>
          Trent/Adam: 7.3
        </mat-card-content>
        <mat-card-content>
          <i class="ibc noto-2nd-place-medal"></i>
          Rob/Matt: 6.4
        </mat-card-content>
        <mat-card-content>
          <i class="ibc noto-3rd-place-medal"></i>
          Rob/Lou: 6.1
        </mat-card-content>
        <mat-card-content> All Teams: 7.6</mat-card-content>
    </mat-card>
  </div>
  <div class="masonry-item">
    <mat-card class="example-card">
      <mat-card-title>Head To Head</mat-card-title>
      <mat-divider inset></mat-divider>
      <mat-card-content>
        <mat-card-content> Trent/Adam vs Rob/Lou: 5-3</mat-card-content>
        <mat-card-content> Trent/Adam vs Rob/Matt: 2-2</mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="masonry-item">
    <mat-card class="example-card">
      <mat-card-title>Milestones</mat-card-title>
      <mat-divider inset></mat-divider>
      <mat-card-content>
        <mat-card-content> 1st Game: 9/23/21</mat-card-content>
        <mat-card-content> 100th Game: Not reached yet</mat-card-content>
        <mat-card-content> 500th Game: Not reached yet</mat-card-content>
        <mat-card-content> 1000th Game: Not reached yet</mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="masonry-item">
    <mat-card class="example-card">
      <mat-card-title>Total Goals Scored</mat-card-title>
      <mat-divider inset></mat-divider>
        <mat-card-content>
          <i class="ibc noto-1st-place-medal"></i>
          Trent/Adam: 93
        </mat-card-content>
        <mat-card-content>
          <i class="ibc noto-2nd-place-medal"></i>
          Rob/Lou: 58
        </mat-card-content>
        <mat-card-content>
          <i class="ibc noto-3rd-place-medal"></i>
          Rob/Matt: 27
        </mat-card-content>
        <mat-card-content> All Teams: 178</mat-card-content>
    </mat-card>
  </div>

  <div class="masonry-item">
    <mat-card class="example-card">
      <mat-card-title>Special Games</mat-card-title>
      <mat-divider inset></mat-divider>
      <mat-card-content>
        <mat-card-content>Overtime Games: 3</mat-card-content>
        <a href="">See list</a>
        <mat-card-content>Shutouts: 1</mat-card-content>
        <a href="">See list</a>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="spacer">Right</div>
</div>


