<body>
<div class="row">
  <span class="item column">
    <mat-card appearance="outlined">
      <mat-card-title>Games Played</mat-card-title>
      <mat-divider inset></mat-divider>
      <mat-card-content>
        <mat-card-content>Total: {{dataSource?.gamesPlayedTotal}}</mat-card-content>
        <mat-card-content>Average Per Week: {{dataSource?.gamesPlayedPerWeek}}</mat-card-content>
        <mat-card-content>Average Per Month: {{dataSource?.gamesPlayedPerMonth}}</mat-card-content>
        <mat-card-content>Average Per Year: {{dataSource?.gamesPlayedPerYear}}</mat-card-content>
      </mat-card-content>
    </mat-card>
  </span>
  <span class="item column">
    <mat-card appearance="outlined">
      <mat-card-title>Streaks</mat-card-title>
      <mat-divider inset></mat-divider>
      <mat-card-content>
        <mat-card-content> Longest Winning Streak: : {{dataSource?.longestWinningStreak?.winStreak}} by {{dataSource?.longestWinningStreak?.teamName}}</mat-card-content>
        <mat-card-content> Current Winning Streak: {{dataSource?.longestCurrentWinningStreak?.winStreak}} by {{dataSource?.longestCurrentWinningStreak?.teamName}}</mat-card-content>
      </mat-card-content>
    </mat-card>
  </span>
  <span class="item column">
    <mat-card appearance="outlined">
      <mat-card-title>Average Goals Per Game</mat-card-title>
      <mat-divider inset></mat-divider>
        <mat-card-content>
          <i class="ibc first-place-medal"></i>
          {{dataSource?.averageGoalsPerGame[0]?.teamName}}: {{dataSource?.averageGoalsPerGame[0]?.goalsPerGame}}
        </mat-card-content>
        <mat-card-content>
          <i class="ibc second-place-medal"></i>
          {{dataSource?.averageGoalsPerGame[1]?.teamName}}: {{dataSource?.averageGoalsPerGame[1]?.goalsPerGame}}
        </mat-card-content>
        <mat-card-content>
          <i class="ibc third-place-medal"></i>
          {{dataSource?.averageGoalsPerGame[2]?.teamName}}: {{dataSource?.averageGoalsPerGame[2]?.goalsPerGame}}
        </mat-card-content>
        <mat-card-content> All Teams: {{dataSource?.averageGoalsPerGame[3]?.goalsPerGame}}</mat-card-content>
    </mat-card>
  </span>
  <span class="item column">
    <mat-card appearance="outlined">
      <mat-card-title>Total Games Played</mat-card-title>
      <mat-divider inset></mat-divider>
        <mat-card-content>
          <i class="ibc first-place-medal"></i>
          {{dataSource?.gamesPlayedPerTeam[1]?.teamName}}: {{dataSource?.gamesPlayedPerTeam[1]?.gamesPlayed}}
        </mat-card-content>
        <mat-card-content>
          <i class="ibc second-place-medal"></i>
          {{dataSource?.gamesPlayedPerTeam[2]?.teamName}}: {{dataSource?.gamesPlayedPerTeam[2]?.gamesPlayed}}
        </mat-card-content>
        <mat-card-content>
          <i class="ibc third-place-medal"></i>
          {{dataSource?.gamesPlayedPerTeam[3]?.teamName}}: {{dataSource?.gamesPlayedPerTeam[3]?.gamesPlayed}}
        </mat-card-content>
        <mat-card-content> All Teams: {{dataSource?.gamesPlayedPerTeam[0]?.gamesPlayed}}</mat-card-content>
    </mat-card>
  </span>
  <span class="item column">
    <mat-card appearance="outlined">
      <mat-card-title>Head To Head</mat-card-title>
      <mat-divider inset></mat-divider>
      <mat-card-content>
        <mat-card-content> Trent/Adam vs Rob/Lou: 5-3</mat-card-content>
        <mat-card-content> Trent/Adam vs Rob/Matt: 2-2</mat-card-content>
      </mat-card-content>
    </mat-card>
  </span>
  <span class="item column">
    <mat-card appearance="outlined">
      <mat-card-title>Milestones</mat-card-title>
      <mat-divider inset></mat-divider>
      <mat-card-content>
        <mat-card-content> First Game: {{dataSource?.firstGame}}</mat-card-content>
        <mat-card-content> 100th Game: {{dataSource?.oneHundredthGame}}</mat-card-content>
        <mat-card-content> 250th Game: {{dataSource?.twoHundredFiftiethGame}}</mat-card-content>
        <mat-card-content> 500th Game: {{dataSource?.fiveHundredthGame}}</mat-card-content>
        <mat-card-content> 750th Game: {{dataSource?.sevenHundredFiftiethGame}}</mat-card-content>
        <mat-card-content> 1000th Game: {{dataSource?.oneThousandthGame}}</mat-card-content>
      </mat-card-content>
    </mat-card>
  </span>
  <span class="item column">
    <mat-card appearance="outlined">
      <mat-card-title>Total Goals Scored</mat-card-title>
      <mat-divider inset></mat-divider>
        <mat-card-content>
          <i class="ibc first-place-medal"></i>
          {{dataSource?.totalGoalsScored[1]?.teamName}}: {{dataSource?.totalGoalsScored[1]?.goalsScored}}
        </mat-card-content>
        <mat-card-content>
          <i class="ibc second-place-medal"></i>
          {{dataSource?.totalGoalsScored[2]?.teamName}}: {{dataSource?.totalGoalsScored[2]?.goalsScored}}
        </mat-card-content>
        <mat-card-content>
          <i class="ibc third-place-medal"></i>
          {{dataSource?.totalGoalsScored[3]?.teamName}}: {{dataSource?.totalGoalsScored[3]?.goalsScored}}
        </mat-card-content>
        <mat-card-content> All Teams: {{dataSource?.totalGoalsScored[0]?.goalsScored}}</mat-card-content>
    </mat-card>
  </span>
  <span class="item column">
    <mat-card appearance="outlined">
      <mat-card-title>Special Games</mat-card-title>
      <mat-divider inset></mat-divider>
      <mat-card-content>
        <mat-card-content>Overtime Games: {{dataSource?.totalOvertimes}}</mat-card-content>
        <a href="">See list</a>
        <mat-card-content>Shutouts: {{dataSource?.totalShutouts}}</mat-card-content>
        <a href="">See list</a>
      </mat-card-content>
    </mat-card>
  </span>
  <span class="item column">
    <mat-card appearance="outlined">
      <mat-card-title>Total Wins</mat-card-title>
      <mat-divider inset></mat-divider>
          <mat-card-content>
            <i class="ibc first-place-medal"></i>
            {{dataSource?.totalWins[0]?.teamName}}: {{dataSource?.totalWins[0]?.wins}}
          </mat-card-content>
          <mat-card-content>
            <i class="ibc second-place-medal"></i>
            {{dataSource?.totalWins[1]?.teamName}}: {{dataSource?.totalWins[1]?.wins}}
          </mat-card-content>
          <mat-card-content>
            <i class="ibc third-place-medal"></i>
            {{dataSource?.totalWins[2]?.teamName}}: {{dataSource?.totalWins[2]?.wins}}
          </mat-card-content>
    </mat-card>
  </span>
  <span class="item column">
    <mat-card appearance="outlined">
      <mat-card-title>Win Percentage</mat-card-title>
      <mat-divider inset></mat-divider>
          <mat-card-content>
            <i class="ibc first-place-medal"></i>
            {{dataSource?.winPercentage[0]?.teamName}}: {{dataSource?.winPercentage[0]?.winPercentage}}%
            ({{dataSource?.winPercentage[0]?.wins}}W |
            {{dataSource?.winPercentage[0]?.losses}}L |
            {{dataSource?.winPercentage[0]?.gamesPlayed}} GP)
          </mat-card-content>
          <mat-card-content>
            <i class="ibc third-place-medal"></i>
            {{dataSource?.winPercentage[1]?.teamName}}: {{dataSource?.winPercentage[1]?.winPercentage}}%
            ({{dataSource?.winPercentage[1]?.wins}}W |
            {{dataSource?.winPercentage[1]?.losses}}L |
            {{dataSource?.winPercentage[1]?.gamesPlayed}}GP)
          </mat-card-content>
          <mat-card-content>
            <i class="ibc second-place-medal"></i>
            {{dataSource?.winPercentage[2]?.teamName}}: {{dataSource?.winPercentage[2]?.winPercentage}}%
            ({{dataSource?.winPercentage[2]?.wins}}W |
            {{dataSource?.winPercentage[2]?.losses}}L |
            {{dataSource?.winPercentage[2]?.gamesPlayed}} GP)
          </mat-card-content>
    </mat-card>
  </span>
  <span class="item column">
    <mat-card appearance="outlined">
      <mat-card-title>Point Differential</mat-card-title>
      <mat-divider inset></mat-divider>
          <mat-card-content>
            <i class="ibc first-place-medal"></i>
            {{dataSource?.pointDifferential[0]?.teamName}}: {{dataSource?.pointDifferential[0]?.pointDifferential}}
          </mat-card-content>
          <mat-card-content>
            <i class="ibc third-place-medal"></i>
            {{dataSource?.pointDifferential[1]?.teamName}}: {{dataSource?.pointDifferential[1]?.pointDifferential}}
          </mat-card-content>
          <mat-card-content>
            <i class="ibc second-place-medal"></i>
            {{dataSource?.pointDifferential[2]?.teamName}}: {{dataSource?.pointDifferential[2]?.pointDifferential}}
          </mat-card-content>
    </mat-card>
  </span>
<!--  <span class="item column">-->
<!--    <h2>Scatter Plot Test</h2>-->
<!--    <figure id="scatter"></figure>-->
<!--  </span>-->
</div>
</body>

