<div id="rulesContainer">
  <div class="spacer"></div>
  <mat-card>
    <mat-list role="list">
      <mat-list-item role="listitem">
        1) First to 10 points wins. A win by 2 may rule may be added if both teams agree.
        If both agree then the game goes into Overtime. The game then
        becomes win by 2 or first to 15 as an ultimatum
      </mat-list-item>
      <mat-list-item role="listitem">
        2) No spinning of the sticks. This is to force more thoughtful gameplay
      </mat-list-item>
      <mat-list-item role="listitem">
        3) If the ball becomes unreachable, any player may nudge it briefly with their
        finger or pick it and place it up out of the field and put it in their serving entrance
      </mat-list-item>
      <mat-list-item role="listitem">
        4) If a ball is struck in such a way where it bounces into the goal and then out again onto
        the field, the ball is considered still live and is not a goal
      </mat-list-item>
      <mat-list-item role="listitem">
        5) If a ball is struck in such a way where it bounces out of the field completely, any player
        can pick it up and place it in their serving entrance
      </mat-list-item>
      <mat-list-item role="listitem">
        6) Players should shake hands and then sanitize after every game
      </mat-list-item>
    </mat-list>
  </mat-card>
  <div class="spacer"></div>
</div>


