$default-button-color: linear-gradient(135deg, #b9beff 0%, #c3e4ff 100%);

#gameEntryContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 1em;
  text-align: center;
}
mat-form-field {
  display: inherit;
}
/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
mat-button-toggle-group {
  margin: 1em 0 ;
}
/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
.mat-button-toggle-checked, .mat-mdc-raised-button {
  color:black;
  background: $default-button-color;
}
mat-divider {
  margin: .5em !important;
}
.hidden {
  display: none;
}
.vsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}
.vsLine {
  flex: 1;
}
.vsText {
  padding: 0 .5em;
}
mat-card-actions {
  justify-content: center;
}

