$default-button-color: linear-gradient(135deg, #b9beff 0%, #c3e4ff 100%);

#teamEntryContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 1em;
  text-align: center;
}
.mat-button-toggle-checked, .mat-raised-button {
  color:black;
  background: $default-button-color;
}
