<div id="settingsContainer">
  <mat-card>
    <mat-card-title>Settings</mat-card-title>
    <mat-divider inset></mat-divider>
    <br>
    <mat-radio-button class="example-margin" value="before">Show team name instead of players</mat-radio-button>
    <br>
    <mat-radio-button class="example-margin" value="">Allow overtime</mat-radio-button>
    <br>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <button mat-raised-button mat-stroked-button>SAVE</button>
    </mat-card-actions>
  </mat-card>
</div>
