<div id="settingsContainer">
  <mat-card>
    <mat-card-title>Settings</mat-card-title>
    <mat-divider inset></mat-divider>
    <br>
    <div class="settingItem">
      <label>Show team names instead of individual players</label>
      <mat-slide-toggle #showTeamNameOverPlayers labelPosition="before" (change)="toggleTeamNameOverPlayers(showTeamNameOverPlayers.checked)" color="primary"></mat-slide-toggle>
    </div>
    <br>
    <div class="settingItem">
      <label>Allow Overtime</label>
      <mat-slide-toggle #allowOvertime labelPosition="before" (change)="toggleAllowOvertime(allowOvertime.checked)" color="primary" checked></mat-slide-toggle>
    </div>
    <br>
    <div class="settingItem">
      <label>Score Needed To Win</label>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Score</mat-label>
        <input matInput #scoreNeededToWin  maxlength="2" placeholder="E.g. 7 or 10" value="10">
      </mat-form-field>
    </div>
    <br>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <button mat-raised-button mat-stroked-button (click)="updateSettings('Close')">SAVE</button>
    </mat-card-actions>
  </mat-card>
</div>
